@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["message"]</p>


<p>Estudante Kayo Felipe</p>
<p><strong>Mais informações: </strong> <a href="https://github.com/KayoLino/Sale/tree/master">GitHub</a></p>
